body {
  font-family: 'Segoe UI', sans-serif;
  background: #121212;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
}

header, footer {
  background: #1e1e1e;
  padding: 20px;
  text-align: center;
}

h1, h2 {
  color: #00ff88;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background: #050505;
  border-left: 4px solid #5e04d4;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.galeria img {
  width: 100%;
  border-radius: 8px;
  border: 2px solid #7f07f0;
}
